@page "/TeamPairDetails"
@using Microsoft.Extensions.Logging
@inject ILogger<TeamDetails> Logger

<link rel="stylesheet" href="css/charactercolor.css" />

@if (selected is null)
{
	<span> Loading Team </span>

}
else
{
	<div class="p-2 dontscrollman justify-content-center darken-50 veryrounded">
		@if (compaired == null) // Regular Team Pair 
		{
			<div class="col-12 text-center d-flex mx-auto">
			@for (int j = 0; j < 2; j++)
			{
				int local = j;
				<CascadingValue Value="selected.teams[local]" Name="Selected Team">
					<TeamDetails ImageSize="col-6"/>
				</CascadingValue>
				@*
				<h3 class="col-12 text-center mx-auto"> @selected[j].name </h3>
				<div class="d-flex col-10 mx-auto flex-row flex-wrap justify-content-evenly">
					@for (int i = 0; i < selected[j].characters.Count; i++)
					{
						<div class="row d-flex justify-content-center col-3 col-sm-3 col-md-3 col-lg-3 d-flex">
							<img src="@selected[j].characters[i].img" class="charimg" draggable="false"/>
							<h5 class="col-11 p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center bg-@selected[j].characters[i].element">@selected[j].characters[i].name </h5>
							<h5 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@selected[j].characters[i].element">@Calc.NumberClarity(selected[j].characters[i].dmg) </h5>
							<h5 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center">(@selectpercentages[j][i]%)</h5>
							<h5 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@selected[j].characters[i].element">(Aoe: @Calc.NumberClarity(selected[j].characters[i].dmgAoe))</h5>
						</div>
					}
				</div>
				<br />
				<div class="col-12 text-center mx-auto">
					@if (Calc.dmgType == "dps")
					{
						<h5 class="hole"> @((selected[j].dps / 1000).ToString("N2"))k dps | @(Calc.ToDps(selected[j].dpmAoe / 1000, selected[j].rotlen).ToString("N2"))k dps in Aoe</h5>
					}
					else
					{
						<h5 class="hole"> @selected[j].dpm mi dpm | @selected[j].dpmAoe mi dpm in Aoe</h5>
					}
				</div>
				*@
			}
			</div>
			if (Calc.dmgType == "dps")
			{
				<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center"> Total: @Math.Round(selected.DpsScore / 1000, 2)k dps</h4>
				<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center"> Total: @Math.Round(selected.DpsScoreAoe / 1000, 2)k dps in Aoe</h4>
				<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center"> Total: @Math.Round(selected.DpsScoreAvg/1000, 2)k dps Average</h4>
			}
			else 
			{
				<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center"> Total: @Math.Round(selected.Score, 2) mi dmg Single Target</h4>
				<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center"> Total: @Math.Round(selected.ScoreAoe, 2) mi dmg Aoe</h4>
				<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center"> Total: @Math.Round(selected.ScoreAvg, 2) mi dmg Average</h4>
			}
		}
		else  // Team Pair Comparasion
		{
			<div>
				<h3 class="col-12 text-center mx-auto">
					<span class="draggable clickable team" draggable="true" @ondragleave="DragDropApi<Team>.OuttaHere" @ondragover="() => DragDropApi<Team>.OverHere(selected.teams, 0)" @ondragstart="() => DragDropApi<Team>.StartDrag(selected.teams, 0)" @ondragend="() => DragDropApi<Team>.StopDrag(true)">
						@selected.teams[0].name
					</span> and
					<span class="draggable team" draggable="true" @ondragleave="DragDropApi<Team>.OuttaHere" @ondragover="() => DragDropApi<Team>.OverHere(selected.teams, 1)" @ondragstart="() => DragDropApi<Team>.StartDrag(selected.teams, 1)" @ondragend="() => DragDropApi<Team>.StopDrag(true)">
						@selected.teams[1].name
					</span>
				</h3>
				<div class="d-flex col-12 mx-auto flex-row flex-wrap justify-content-evenly">
					@for (int local1 = 0; local1 < 2; local1++) // For Selected Pair
					{
						int j = local1;

						<div class="col-md-12 col-lg-6 ">
							<div class="d-flex justify-content-evenly">
								@*<CascadingValue Value="selected[j]" Name="Selected Team">
									<CascadingValue Value="compaired[j]" Name="Team to compare">
										<TeamDetails ImageSize="col-6" />
									</CascadingValue>
								</CascadingValue>*@
								@for (int local2 = 0; local2 < selected.teams[j].characters.Count; local2++)
								{
									int i = local2;
									
									<div class="row d-flex justify-content-center col-3">
										<a class="text-light text-center" draggable="true" 
										@ondragleave="DragDropApi<Character>.OuttaHere" 
											@ondragover="() => DragDropApi<Character>.OverHere(selected.teams[j].characters, i)"
										   @ondragstart="() => DragDropApi<Character>.StartDrag(selected.teams[j].characters, i)"
										   @ondragend="() => DragDropApi<Character>.StopDrag(true)">
											<img src="@selected.teams[j].characters[i].img" draggable="false" class="charimg col-12" />
											<h5 class="col-11 p-0 fs-md-5 fs-lg-4 lh-sm m-0 text-center bg-@selected.teams[j].characters[i].element">
											@selected.teams[j].characters[i].name </h5>
										</a>
										<MudTooltip class="col-2" Color="Color.Transparent">
											<ChildContent>
												<h5 class="hole p-0 fs-md-5 fs-lg-4 lh-sm m-0 text-center text-@GetDiffColor(compaired.teams[j].characters[i].dmg, selected.teams[j].characters[i].dmg)">
													@Calc.NumberClarity(selected.teams[j].characters[i].dmg)
												</h5>
											</ChildContent>
											<TooltipContent>
												<span class="ts-3 darken-95 p-3 veryrounded text-@GetDiffColor(compaired.teams[j].characters[i].dmg, selected.teams[j].characters[i].dmg)"> @GetDiffPercent(compaired.teams[j].characters[i].dmg, selected.teams[j].characters[i].dmg)</span>
											</TooltipContent>
										</MudTooltip>
										<MudTooltip class="col-2" Color="Color.Transparent">
											<ChildContent>
												<h5 class="hole p-0 fs-md-5 fs-lg-4 lh-sm m-0 text-center text-@GetDiffColor(compaired.teams[j].characters[i].dmgAoe, selected.teams[j].characters[i].dmgAoe)">
													(@Calc.NumberClarity((selected.teams[j].characters[i].dmgAoe)))
												</h5>
											</ChildContent>
											<TooltipContent>
												<span class="ts-3 darken-95 p-3 veryrounded text-@GetDiffColor(compaired.teams[j].characters[i].dmgAoe, selected.teams[j].characters[i].dmgAoe)">
													@GetDiffPercent(compaired.teams[j].characters[i].dmgAoe, selected.teams[j].characters[i].dmgAoe)
												</span>
											</TooltipContent>
										</MudTooltip>
									</div>
								}
							</div>
							
							@if (Calc.dmgType == "dps")
							{
								<div class="col-12 hole text-center mx-auto">
									<p class="fs-3">
										<span class="text-@GetDiffColor(compaired.teams[j].dpm, selected.teams[j].dpm)">
											@((selected.teams[j].dps/1000).ToString("N2"))k dps </span> | 
										<span class="text-@GetDiffColor(compaired.teams[j].dpmAoe, selected.teams[j].dpmAoe)"> 
											@((selected.teams[j].dpsAoe/1000).ToString("N2"))k dps in Aoe </span>
									</p>
								</div>
							}
							else 
							{
								<div class="col-12 hole text-center mx-auto">
									<p class="fs-3">
										<span class="text-@GetDiffColor(compaired.teams[j].dpm, selected.teams[j].dpm)">
											@selected.teams[j].dpm mi dpm </span> | 
										<span class="text-@GetDiffColor(compaired.teams[j].dpmAoe, selected.teams[j].dpmAoe)"> 
											@selected.teams[j].dpmAoe mi dpm in Aoe </span>
									</p>
								</div>
							}

						</div>
					}
				</div>
				@if (Calc.dmgType == "dps")
				{
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(compaired.Score, selected.Score)">
						Total: @Math.Round(selected.DpsScore, 2)k dps Single Target (@GetDiffPercent(compaired.Score, selected.Score)) </h4>
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(compaired.ScoreAoe, selected.ScoreAoe)">
						Total: @Math.Round(selected.DpsScoreAoe, 2)k dps Aoe (@GetDiffPercent(compaired.ScoreAoe, selected.ScoreAoe)) </h4>
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(compaired.ScoreAvg, selected.ScoreAvg)">
						Total: @Math.Round(selected.DpsScoreAvg, 2)k dps Average (@GetDiffPercent(compaired.ScoreAvg, selected.ScoreAvg)) </h4>
				}
				else
				{
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(compaired.Score, selected.Score)">
						Total: @Math.Round(selected.Score, 2) mi dpm Single Target (@GetDiffPercent(compaired.Score, selected.Score)) </h4>
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(compaired.ScoreAoe, selected.ScoreAoe)">
						Total: @Math.Round(selected.ScoreAoe, 2) mi dpm Aoe (@GetDiffPercent(compaired.ScoreAoe, selected.ScoreAoe)) </h4>
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(compaired.ScoreAvg, selected.ScoreAvg)">
						Total: @Math.Round(selected.ScoreAvg, 2) mi dpm Average (@GetDiffPercent(compaired.ScoreAvg, selected.ScoreAvg)) </h4>
				}
			</div>
			<div>
				<h3 class="col-12 text-center mx-auto">
					<span class="draggable clickable team" draggable="true" @ondragleave="DragDropApi<Team>.OuttaHere" @ondragover="() => DragDropApi<Team>.OverHere(compaired.teams, 0)" @ondragstart="(e) => DragDropApi<Team>.StartDrag(compaired.teams, 0)" @ondragend="() => DragDropApi<Team>.StopDrag(true)">
						@compaired.teams[0].name
					</span> and
					<span class="draggable team" draggable="true" @ondragleave="DragDropApi<Team>.OuttaHere" @ondragover="() => DragDropApi<Team>.OverHere(compaired.teams, 1)" @ondragstart="(e) => DragDropApi<Team>.StartDrag(compaired.teams, 1)" @ondragend="() => DragDropApi<Team>.StopDrag(true)">
						@compaired.teams[1].name
					</span>
				</h3>
				<div class="d-flex col-12 mx-auto flex-row flex-wrap justify-content-evenly">
					@for (int local1 = 0; local1 < 2; local1++) // For Compaired Pair
					{
						int j = local1;
						<div class="col-md-12 col-lg-6 ">
							<div class="d-flex justify-content-evenly">
								@*<CascadingValue Value="compaired[j]" Name="Selected Team">
									<CascadingValue Value="selected[j]" Name="Team to compare">
										<TeamDetails ImageSize="col-6" />
									</CascadingValue>
								</CascadingValue>*@
								
								@for (int local2 = 0; local2 < compaired.teams[j].characters.Count; local2++)
								{
									int i = local2;
									
									

									<div class="row d-flex justify-content-center col-3">
										<a class="text-light text-center" draggable="true" @ondragleave="DragDropApi<Character>.OuttaHere" @ondragover="() => DragDropApi<Character>.OverHere(compaired.teams[j].characters, i)" @ondragstart="() => DragDropApi<Character>.StartDrag(compaired.teams[j].characters, i)" @ondragend="() => DragDropApi<Character>.StopDrag(true)">
											<img src="@compaired.teams[j].characters[i].img" draggable="false" class="charimg col-12"/>
											<h5 class="draggable col-11 p-0 fs-md-4 fs-lg-3 lh-sm m-0 text-center bg-@compaired.teams[j].characters[i].element">
											@compaired.teams[j].characters[i].name </h5>
										</a>
										<MudTooltip class="col-2" Color="Color.Transparent">
											<ChildContent>
												<h5 class="hole p-0 fs-md-5 fs-lg-4 lh-sm m-0 text-center text-@GetDiffColor(selected.teams[j].characters[i].dmg, compaired.teams[j].characters[i].dmg)">
													@Calc.NumberClarity(compaired.teams[j].characters[i].dmg)
												</h5>
											</ChildContent>
											<TooltipContent>
												<span class="ts-3 darken-95 p-3 veryrounded text-@GetDiffColor(selected.teams[j].characters[i].dmg, compaired.teams[j].characters[i].dmg)"> @GetDiffPercent(selected.teams[j].characters[i].dmg, compaired.teams[j].characters[i].dmg)</span>
											</TooltipContent>
										</MudTooltip>
										<MudTooltip class="col-2" Color="Color.Transparent">
											<ChildContent>
												<h5 class="hole p-0 fs-md-5 fs-lg-4 lh-sm m-0 text-center text-@GetDiffColor(selected.teams[j].characters[i].dmgAoe, compaired.teams[j].characters[i].dmgAoe)">
													(@Calc.NumberClarity((compaired.teams[j].characters[i].dmgAoe)))
												</h5>
											</ChildContent>
											<TooltipContent>
												<span class="ts-3 darken-95 p-3 veryrounded text-@GetDiffColor(selected.teams[j].characters[i].dmgAoe, compaired.teams[j].characters[i].dmgAoe)">
													@GetDiffPercent(selected.teams[j].characters[i].dmgAoe, compaired.teams[j].characters[i].dmgAoe)
												</span>
											</TooltipContent>
										</MudTooltip>
									</div>
								}
								
							</div>
							@if (Calc.dmgType == "dps")
							{
								<div class="col-12 hole text-center mx-auto">
									<p class="fs-4">
										<span class="text-@GetDiffColor(selected.teams[j].dpm, compaired.teams[j].dpm)">
											@((compaired.teams[j].dps / 1000).ToString("N2"))k dps
										</span> |
										<span class="text-@GetDiffColor(selected.teams[j].dpmAoe, compaired.teams[j].dpmAoe)">
											@(Calc.ToDps(compaired.teams[j].dpmAoe/1000, compaired.teams[j].rotlen).ToString("N2"))k dps in Aoe
										</span>
									</p>
								</div>
							}
							else
							{
								<div class="col-12 hole text-center mx-auto">
									<p class="fs-4">
										<span class="text-@GetDiffColor(selected.teams[j].dpm, compaired.teams[j].dpm)">
											@compaired.teams[j].dpm mi dpm
										</span> |
										<span class="text-@GetDiffColor(selected.teams[j].dpmAoe, compaired.teams[j].dpmAoe)">
											@compaired.teams[j].dpmAoe mi dpm in Aoe
										</span>
									</p>
								</div>
							}
						</div>
					}
				</div>
				@if (Calc.dmgType == "dps")
				{
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(selected.Score, compaired.Score)">
						Total: @Math.Round(compaired.DpsScore, 2)k dps Single Target (@GetDiffPercent(selected.Score, compaired.Score))</h4>
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(selected.ScoreAoe, compaired.ScoreAoe)">
						Total: @Math.Round(compaired.DpsScoreAoe, 2)k dps Aoe (@GetDiffPercent(selected.ScoreAoe, compaired.ScoreAoe))</h4>
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(selected.ScoreAvg, compaired.ScoreAvg))">
						Total: @Math.Round(compaired.DpsScoreAvg, 2)k dps Average (@GetDiffPercent(selected.ScoreAvg, compaired.ScoreAvg))</h4>
				}
				else
				{
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(selected.Score, compaired.Score)">
						Total: @Math.Round(compaired.Score, 2) mi dpm Single Target (@GetDiffPercent(selected.Score, compaired.Score))</h4>
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(selected.ScoreAoe, compaired.ScoreAoe)">
						Total: @Math.Round(compaired.ScoreAoe, 2) mi dpm Aoe (@GetDiffPercent(selected.ScoreAoe, compaired.ScoreAoe))</h4>
					<h4 class="hole p-0 fs-md-3 fs-lg-2 lh-sm m-0 text-center text-@GetDiffColor(selected.ScoreAvg, compaired.ScoreAvg))">
						Total: @Math.Round(compaired.ScoreAvg, 2) mi dpm Average (@GetDiffPercent(selected.ScoreAvg, compaired.ScoreAvg))</h4>
				}
			</div>
			<p> * You can drag and drop the characters from the same team to change their position </p>
			<p> * You can drag and drop the Team's name from the same pair to change their position </p>
		}
	</div>
}

@code
{
	[CascadingParameter(Name = "Selected Pair")]
	public required TeamPair selected { get; set; }
	[CascadingParameter(Name = "Pair to Compare")]
	public TeamPair? compaired { get; set; }

	List<double>[] selectpercentages = new List<double>[2];
	bool ShowAoe = false;

	protected override async void OnInitialized(){
		selectpercentages[0] = selected.teams[0].GetPercentages();
		selectpercentages[1] = selected.teams[1].GetPercentages();
	}

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			StateHasChanged(); 
		}
	}

	string GetDiffColor(double selected, double compare)
	{
		if (selected < compare)
		{
			return "better";
		}
		else if (selected > compare)
		{
			return "danger";
		}
		else
		{
			return "same";
		}
	}

	string GetDiffPercent(double selected, double compare)
	{
		if (compare - selected > 0)
		{
			return "+" + (((compare / selected) - 1) * 100).ToString("N1") + "%";
		}
		else
		{
			return (((compare / selected) - 1) * 100).ToString("N1") + "%";
		}
	}
}
